/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
/* Variables */
/* mixin - setea flex y visualizacion de componenetes. */
/* extend placeholders */
/*extend para h2*/
section.contactus, section.ourtools, section.wewill, section.webuild {
  width: 100%;
}
section.contactus h2, section.ourtools h2, section.wewill h2, section.webuild h2 {
  font-family: "staatliches";
  font-size: 90px;
}
section.contactus h2:hover, section.ourtools h2:hover, section.wewill h2:hover, section.webuild h2:hover {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

/*extend para botones con hover*/
section.ourtools .card .btn, section.webuild .webuild-container .card .btn {
  width: 100%;
  color: #264653;
  border-color: #f4a261;
  background-color: transparent !important;
}
section.ourtools .card:hover .btn, section.webuild .webuild-container .card:hover .btn {
  color: #f4a261;
  border-color: #264653;
  background-color: rgba(9, 46, 16, 0.05) !important;
}

body {
  max-width: 100%;
}
body .navbar {
  font-size: x-large;
  background-color: #264653;
  display: flex;
  flex-direction: column;
}
body .navbar .nav-divider {
  width: 100%;
  height: 2px;
  background-color: #f1e5d2;
}
body .navbar a {
  color: #e9c46a;
}
body .navbar a:hover {
  color: #f4a261 !important;
}
body .navbar .active {
  color: #2a9d8f !important;
}

main {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .main-banner {
  width: 100%;
}
main .main-banner .main-container {
  top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .main-banner .main-container .banner-image-container {
  margin-top: 60px;
  background-image: linear-gradient(to bottom, #264653, #f4a261);
  overflow: hidden;
}
main .main-banner .main-container .banner-image-container img {
  -webkit-animation: kenburns-top 5s ease-out infinite alternate both;
  animation: kenburns-top 5s ease-out infinite alternate both;
}

.separador-webuild {
  text-align: end;
  font-family: "Staatliches";
  color: #2a9d8f;
  background-color: #f1e5d2;
  height: 40px;
  width: 100%;
}

section.webuild {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 3%;
  background-color: #e9c46a;
}
section.webuild h2 {
  width: 100%;
  text-align: start;
  color: #264653;
}
section.webuild h5 {
  color: #2a9d8f;
  font-family: "Staatliches";
  font-size: xx-large;
}
section.webuild .webuild-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
section.webuild .webuild-container .card {
  background-color: #f1e5d2;
  margin: 20px;
  display: flex;
  align-items: center;
}
section.webuild .webuild-container .card .card-tool,
section.webuild .webuild-container .card .card-toolbox {
  width: 64px;
  height: auto;
}
section.webuild .webuild-container .card .card-body {
  flex-direction: column;
  display: flex;
  align-items: center;
}
section.webuild .webuild-container .card .card-body a {
  font-weight: 600;
}

section.wewill {
  width: 100%;
  background-color: #f1e5d2;
  padding: 5%;
}
section.wewill .wewill-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
section.wewill .wewill-container .wewill-image-container {
  padding-left: 3%;
  padding-right: 3%;
  overflow: hidden;
}
section.wewill .wewill-container .wewill-list-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
section.wewill .wewill-container .wewill-list-container h2 {
  color: #264653;
}
section.wewill .wewill-container .wewill-list-container .tick_article {
  display: flex;
  flex-direction: row;
}
section.wewill .wewill-container .wewill-list-container .tick_article img {
  margin: 10px;
  width: 64px;
  height: 64px;
}
section.wewill .wewill-container .wewill-list-container .tick_article .tick_container {
  margin-top: 15px;
  padding-left: 10px;
}
section.wewill .wewill-container .wewill-list-container h5 {
  font-family: "nunito";
  font-weight: 600;
}
section.wewill .wewill-container .wewill-list-container .p_texto {
  font-family: "nunito";
  font-weight: 300;
  font-size: large;
}

section.ourtools {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #2a9d8f;
  padding: 5%;
}
section.ourtools h2 {
  color: #f4a261;
  margin-bottom: 2%;
  margin-right: 2%;
}
section.ourtools img {
  margin-left: 0px;
  margin-top: 20px;
}
section.ourtools .card {
  margin-top: 20px;
}
section.ourtools .card .card-body {
  background-color: #f1e5d2;
}
section.ourtools .card .card-body h5 {
  font-size: x-large;
  color: #264653;
  font-family: "Staatliches";
}
section.ourtools .card .card-body p {
  font-family: "nunito";
}

section.contactus {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #e9c46a;
  padding-top: 3%;
}
section.contactus h2 {
  color: #264653;
  margin-bottom: 2%;
}
section.contactus .form-mapa-container {
  margin-bottom: 3%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
section.contactus .form-mapa-container iframe {
  height: 40vh;
  border-radius: 16px;
}
section.contactus .form-mapa-container .form-container {
  height: 40vh;
  background-color: #f1e5d2;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #264653;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}
section.contactus .form-mapa-container .form-container button:active {
  scale: 0.95;
}
section.contactus .form-mapa-container .form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.contactus .form-mapa-container .form-container .form .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
section.contactus .form-mapa-container .form-container .form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #264653;
  font-weight: 600;
  font-size: 12px;
}
section.contactus .form-mapa-container .form-container .form .form-group input,
section.contactus .form-mapa-container .form-container .form .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #264653;
  font-family: inherit;
  font-size: large;
  background-color: transparent;
  border: 1px solid #414141;
}
section.contactus .form-mapa-container .form-container .form .form-group input::placeholder,
section.contactus .form-mapa-container .form-container .form .form-group textarea::placeholder {
  opacity: 0.5;
}
section.contactus .form-mapa-container .form-container .form .form-group input:focus,
section.contactus .form-mapa-container .form-container .form .form-group textarea:focus {
  outline: none;
  border-color: #2a9d8f;
}
section.contactus .form-mapa-container .form-container .form .form-group textarea {
  height: 90px;
  resize: none;
}
section.contactus .form-mapa-container .form-container .form .form-submit-btn {
  color: #264653;
  background-color: transparent !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  font-weight: 600;
  width: 40%;
  background: #f4a261;
  border: 1px solid #f4a261;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}
section.contactus .form-mapa-container .form-container .form .form-submit-btn:hover {
  color: #f4a261;
  border-color: #264653;
  background-color: rgba(9, 46, 16, 0.05) !important;
}
section.contactus .redes-divider {
  background-color: #264653;
  width: 90%;
  height: 3px;
  margin-bottom: 2%;
}
section.contactus .redes-container {
  margin-bottom: 2%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
section.contactus .redes-container img {
  width: 64px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: none;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  background-color: #264653;
  color: #e9c46a;
  height: 10%;
  padding-top: 5px;
}
.footer-container a {
  color: #e9c46a;
}

/*ANIMACIONES*/
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
/*MEDIAQUERIES - BREAKPOINTS*/
@media only screen and (min-width: 992px) {
  main .nav-divider {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #f1e5d2;
  }
}
@media only screen and (max-width: 991px) {
  .nav-divider {
    display: none;
    width: 100%;
    height: 2px;
    background-color: #f1e5d2;
  }
  section.webuild h2 {
    text-align: center;
  }
  section.ourtools {
    background-color: #2a9d8f;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  section.ourtools img {
    margin-left: 0px;
    margin-top: 20px;
  }
  .wewill-image-container {
    display: none;
  }
  .form-mapa-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .form-mapa-container iframe {
    margin-top: 3%;
    width: 90%;
    height: 40vh;
  }
}

/*# sourceMappingURL=styles.css.map */
