/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
/*Variables*/
/* SCSS HEX */
/*Estilos*/
body {
  max-width: 100%;
}
body .navbar {
  font-size: x-large;
  background-color: #264653;
  display: flex;
  flex-direction: column;
}
body .navbar .nav-divider {
  width: 100%;
  height: 2px;
  background-color: #f1e5d2;
}
body .navbar a {
  color: #e9c46a;
}
body .navbar a:hover {
  color: #f4a261 !important;
}
body .navbar .active {
  color: #2a9d8f !important;
}

main {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .main-banner {
  width: 100%;
}
main .main-banner .main-container {
  top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .main-banner .main-container .banner-image-container {
  margin-top: 60px;
  position: relative;
  background-image: linear-gradient(to bottom, #264653, #f4a261);
}

.separador-webuild {
  background-color: #f1e5d2;
  height: 50px;
  width: 100%;
}

section.webuild {
  width: 100%;
  padding: 3%;
  background-color: #e9c46a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
section.webuild h2 {
  width: 100%;
  text-align: start;
  font-family: "Staatliches";
  color: #264653;
  font-size: 90px;
}
section.webuild h5 {
  color: #2a9d8f;
  font-family: "Staatliches";
  font-size: xx-large;
}
section.webuild .webuild-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
section.webuild .webuild-container .card {
  background-color: #f1e5d2;
  margin: 20px;
  display: flex;
  align-items: center;
}
section.webuild .webuild-container .card .card-tool,
section.webuild .webuild-container .card .card-toolbox {
  width: 64px;
  height: auto;
}
section.webuild .webuild-container .card .card-body {
  flex-direction: column;
  display: flex;
  align-items: center;
}
section.webuild .webuild-container .card .card-body a {
  font-weight: 600;
}
section.webuild .webuild-container .card .btn {
  width: 100%;
  color: #264653;
  border-color: #f4a261;
  background-color: transparent !important;
}
section.webuild .webuild-container .card:hover .btn {
  color: #f4a261;
  border-color: #264653;
  background-color: rgba(9, 46, 16, 0.05) !important;
}

section.wewill {
  width: 100%;
  background-color: #f1e5d2;
  padding: 5%;
}
section.wewill .wewill-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
section.wewill .wewill-container .wewill-image-container {
  padding-left: 3%;
  padding-right: 3%;
  overflow: hidden;
}
section.wewill .wewill-container .wewill-list-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.wewill .wewill-container .wewill-list-container h2 {
  font-family: "Staatliches";
  font-size: 90px;
  color: #264653;
}
section.wewill .wewill-container .wewill-list-container .tick_article {
  display: flex;
  flex-direction: row;
}
section.wewill .wewill-container .wewill-list-container .tick_article img {
  margin: 10px;
  width: 64px;
  height: 64px;
}
section.wewill .wewill-container .wewill-list-container .tick_article .tick_container {
  margin-top: 15px;
  padding-left: 10px;
}
section.wewill .wewill-container .wewill-list-container h5 {
  font-family: "nunito";
  font-weight: 600;
}
section.wewill .wewill-container .wewill-list-container .p_texto {
  font-family: "nunito";
  font-weight: 300;
  font-size: large;
}

section.ourtools {
  background-color: #2a9d8f;
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
section.ourtools h2 {
  color: #f4a261;
  font-family: "Staatliches";
  font-size: 90px;
  margin-bottom: 2%;
  margin-right: 2%;
}
section.ourtools img {
  margin-left: 40px;
}
section.ourtools .card {
  margin-top: 20px;
}
section.ourtools .card .card-body {
  background-color: #f1e5d2;
}
section.ourtools .card .card-body h5 {
  font-size: x-large;
  color: #264653;
  font-family: "Staatliches";
}
section.ourtools .card .card-body p {
  font-family: "nunito";
}
section.ourtools .card .btn {
  width: 100%;
  color: #264653;
  border-color: #264653;
  background-color: #f4a261 !important;
}
section.ourtools .card:hover .btn {
  color: #e9c46a;
  border-color: #f4a261;
  background-color: #264653 !important;
}

section.contactus {
  width: 100%;
  background-color: #e9c46a;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: space;
}
section.contactus h2 {
  color: #264653;
  font-family: "Staatliches";
  font-size: 90px;
  margin-bottom: 2%;
}
section.contactus .form-mapa-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 2%;
}
section.contactus .form-mapa-container iframe {
  margin-top: 3%;
  width: 90%;
  height: 40vh;
}
section.contactus .form-mapa-container .form-container {
  background-color: #f1e5d2;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}
section.contactus .form-mapa-container .form-container button:active {
  scale: 0.95;
}
section.contactus .form-mapa-container .form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.contactus .form-mapa-container .form-container .form .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
section.contactus .form-mapa-container .form-container .form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #264653;
  font-weight: 600;
  font-size: 12px;
}
section.contactus .form-mapa-container .form-container .form .form-group input, section.contactus .form-mapa-container .form-container .form .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #264653;
  font-family: inherit;
  font-size: x-large;
  background-color: transparent;
  border: 1px solid #414141;
}
section.contactus .form-mapa-container .form-container .form .form-group input::placeholder, section.contactus .form-mapa-container .form-container .form .form-group textarea::placeholder {
  opacity: 0.5;
}
section.contactus .form-mapa-container .form-container .form .form-group input:focus, section.contactus .form-mapa-container .form-container .form .form-group textarea:focus {
  outline: none;
  border-color: #2a9d8f;
}
section.contactus .form-mapa-container .form-container .form .form-group textarea {
  height: 96px;
  resize: none;
}
section.contactus .form-mapa-container .form-container .form .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}
section.contactus .form-mapa-container .form-container .form .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
section.contactus .redes-divider {
  background-color: #264653;
  width: 90%;
  height: 3px;
  margin-bottom: 2%;
}
section.contactus .redes-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
section.contactus .redes-container img {
  width: 64px;
}

.footer-container {
  padding: 0 5% 0 5%;
  background-color: #264653;
  color: #e9c46a;
  height: 10%;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  justify-content: space-between;
}
.footer-container a {
  color: #e9c46a;
}

@media only screen and (min-width: 992px) {
  main .nav-divider {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #f1e5d2;
  }
}
@media only screen and (max-width: 991px) {
  .nav-divider {
    display: none;
    width: 100%;
    height: 2px;
    background-color: #f1e5d2;
  }
  section.webuild h2 {
    text-align: center;
  }
  section.ourtools {
    background-color: #2a9d8f;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  section.ourtools img {
    margin-left: 0px;
    margin-top: 20px;
  }
  .wewill-image-container {
    display: none;
  }
  .form-mapa-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .form-mapa-container iframe {
    margin-top: 3%;
    width: 90%;
    height: 40vh;
  }
}

/*# sourceMappingURL=styles.css.map */
