/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/*Variables*/

/* SCSS HEX */
$dark: #264653ff;
$light: #2a9d8fff;
$accent-light: #e9c46aff;
$accent-dark: #f4a261ff;
$blanco:#f1e5d2;
$fade-accent-light: linear-gradient(to bottom, $dark, $accent-dark);


/*Estilos*/
body {
    max-width: 100%;

    .navbar {
        font-size: x-large;
        background-color: $dark;
        display: flex;
        flex-direction: column;
        
        


        .nav-divider{
            width: 100%;
            height: 2px;
            background-color: $blanco
        }

        a {
            color: $accent-light;

            &:hover {
                color: $accent-dark !important;
            }

        }

        .active {
            color: $light !important;

        }
    }
}


main {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    .main-banner {
        width: 100%;

        .main-container {
            top: 60px;
            width: 100%;
            display: flex;
            flex-direction: column;

            .banner-image-container {
                margin-top: 60px;
                position: relative;
                
                background-image: $fade-accent-light;             
            }
        }
    }
}
.separador-webuild {
    background-color: $blanco;
    height: 50px;
    width: 100%;
}

section.webuild {
    width: 100%;
    padding: 3%;
    background-color: $accent-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    h2 {
        width: 100%;
        text-align: start;
        font-family: "Staatliches";
        color: $dark;
        font-size: 90px;
    }

    h5 {
        color: $light;
        font-family: "Staatliches";
        font-size: xx-large;
    }

    .webuild-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .card {
            background-color: $blanco;
            margin: 20px;
            display: flex;
            align-items: center;

            .card-tool,
            .card-toolbox {
                width: 64px;
                height: auto;
            }

            .card-body {
                flex-direction: column;
                display: flex;
                align-items: center;

                a {
                    font-weight: 600;
                }
            }

            .btn {
                width: 100%;
                color: $dark;
                border-color: $accent-dark;
                background-color: transparent !important;
            }

            &:hover {
                .btn {
                    color: $accent-dark;
                    border-color: $dark;
                    background-color: rgba(9, 46, 16, 0.05) !important;
                }
            }
        }
    }
}

section.wewill {
    width: 100%;
    background-color: $blanco;
    padding: 5%;

    .wewill-container {
        max-width: 100%;
        display: flex;
        flex-direction: row;

        .wewill-image-container {
            padding-left: 3%;
            padding-right: 3%;

            overflow: hidden;
        }

        .wewill-list-container {
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                font-family: "Staatliches";
                font-size: 90px;
                color: $dark;
            }

            .tick_article {
                display: flex;
                flex-direction: row;

                img {
                    margin: 10px;
                    width: 64px;
                    height: 64px;
                }

                .tick_container {
                    margin-top: 15px;
                    padding-left: 10px;
                }
            }

            h5 {
                font-family: 'nunito';
                font-weight: 600;
            }

            .p_texto {
                font-family: 'nunito';
                font-weight: 300;
                font-size: large;
            }
        }
    }
}

section.ourtools {
    background-color: $light;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;

    h2 {
        color: $accent-dark;
        font-family: "Staatliches";
        font-size: 90px;
        margin-bottom: 2%;
        margin-right: 2%;
    }

    

        img{
            margin-left: 40px;
        }

        .card {
            margin-top: 20px;


            .card-body {
                background-color: $blanco;
                h5 {
                    font-size: x-large;
                    color: $dark;
                    font-family: "Staatliches";
                }

                p {
                    font-family: "nunito";
                }
            }
            .btn {
                width: 100%;
                color: $dark;
                border-color: $dark;
                background-color: $accent-dark !important;
            }

            &:hover {
                .btn {
                    color: $accent-light;
                    border-color: $accent-dark;
                    background-color: $dark !important;
                }
            }
        }
}

section.contactus {
    width: 100%;
    
    background-color: $accent-light;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: space;
 

    h2 {
        color: $dark;
        font-family: "Staatliches";
        font-size: 90px;
        margin-bottom: 2%;
    }

    .form-mapa-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 2%;

        iframe{
            margin-top: 3%;
            width: 90%;
            height: 40vh;
        }
       
        
        
        .form-container {
            
            background-color: $blanco;
            border: 2px solid transparent;
            padding: 32px 24px;
            font-size: 14px;
            font-family: inherit;
            color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            box-sizing: border-box;
            border-radius: 16px;

            button:active { // Nested selector for button:active
                scale: 0.95;
            }

            .form { // Nested selector for .form
                display: flex;
                flex-direction: column;
                gap: 20px;

                .form-group { // Nested selector for .form-group
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    label { // Nested selector for label
                        display: block;
                        margin-bottom: 5px;
                        color: $dark;
                        font-weight: 600;
                        font-size: 12px;
                    }

                    input, textarea { // Nested selector for input and textarea
                        width: 100%;
                        padding: 12px 16px;
                        border-radius: 8px;
                        color: $dark;
                        font-family: inherit;
                        font-size: x-large;
                        background-color: transparent;
                        border: 1px solid #414141;

                        &::placeholder { // Nested selector for input::placeholder
                            opacity: 0.5;
                        }

                        &:focus { // Nested selector for input:focus and textarea:focus
                            outline: none;
                            border-color: $light;
                        }
                    }

                    textarea { // Selector for textarea
                        height: 96px;
                        resize: none;
                    }
                }

                .form-submit-btn { // Nested selector for .form-submit-btn
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    align-self: flex-start;
                    font-family: inherit;
                    color: #717171;
                    font-weight: 600;
                    width: 40%;
                    background: #313131;
                    border: 1px solid #414141;
                    padding: 12px 16px;
                    font-size: inherit;
                    gap: 8px;
                    margin-top: 8px;
                    cursor: pointer;
                    border-radius: 6px;

                    &:hover { // Nested selector for .form-submit-btn:hover
                        background-color: #fff;
                        border-color: #fff;
                    }
                }
            }
        }
    }
    .redes-divider{
        background-color:$dark;
        width: 90%;
        height: 3px;
        margin-bottom: 2%;
    }
    .redes-container{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        img{
            width: 64px;
        }
    }
}

.footer-container {
    padding: 0 5% 0 5%;
    background-color: $dark;
    color: $accent-light;
    height: 10%;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    justify-content: space-between;
    a{
        color: $accent-light;
    }
}


@media only screen and (min-width: 992px) {
    main {
        .nav-divider{
            display: flex;
            width: 100%;
            height: 2px;
            background-color: $blanco
        }
    } 
}

@media only screen and (max-width: 991px) {
   
    .nav-divider{
        display: none;
        width: 100%;
        height: 2px;
        background-color: $blanco
    }
    section.webuild h2{
        text-align: center;
    }

    section.ourtools {
        background-color: $light;
        width: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between ;

        img{
            margin-left: 0px;
            margin-top: 20px;
        }
    }

    .wewill-image-container{
        display: none;
    }
    .form-mapa-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        iframe{
            margin-top: 3%;
            width: 90%;
            height: 40vh;
        }
    }
}
