/* extend placeholders */
/*extend para h2*/
%section-format {
    width: 100%;

    h2 {

        font-family: "staatliches";
        font-size: 90px;
    }

    h2:hover {
        -webkit-animation: bounce-top 0.9s both;
        animation: bounce-top 0.9s both;
    }
}
/*extend para botones con hover*/
%btn-format {
    .btn {
        width: 100%;
        color: $dark;
        border-color: $accent-dark;
        background-color: transparent !important;
    }

    &:hover {
        .btn {

            color: $accent-dark;
            border-color: $dark;
            background-color: rgba(9, 46, 16, 0.05) !important;

        }
    }
}